@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;300&family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;300&family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;300&family=Bebas+Neue&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', sans-serif;
  text-decoration: none;
  list-style: none;
  text-align: justify center; }

.encabezado {
  padding-left: 0px; }

.nav-css {
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: #140d1a;
  box-shadow: 0px 0px 24px 1px #140d1a;
  z-index: 1000; }

/* DROPDOWN */
.bg-button-dark {
  background-color: #140d1a;
  box-shadow: 0px 0px 24px 1px #140d1a; }

.bg-button-verde {
  background-color: #a3e636;
  box-shadow: 0px 0px 24px 1px #140d1a;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; }

.pages,
.perfil-iniciar,
.perfil-registrarse {
  padding: 12px;
  color: white; }

.perfil-registrarse:link,
.pages:link {
  color: white; }

.perfil-registrarse:hover,
.pages:visited {
  color: white; }

.perfil-registrarse:hover,
.pages:hover {
  color: #a3e636; }

.perfil-registrarse:active,
.pages:active {
  color: #42142a; }

#color-verde:link {
  color: #a3e636; }

#color-verde:visited {
  color: #a3e636; }

#color-verde:hover {
  color: #f96036; }

#color-verde:active {
  color: #42142a; }

.perfil-iniciar {
  background-color: #ff2e5f;
  border-radius: 20px; }

.perfil-iniciar:hover {
  background-color: #ffd452;
  color: white; }

/* TITULOS TODAS LAS PAGINAS SCSS*/
.titulo-contacto,
.titulo-sobre-nosotros,
.titulo-blog,
.titulo-terapias {
  font-family: 'Bebas Neue', cursive;
  font-size: 70px;
  padding-top: 150px;
  color: #a3e636;
  text-align: center; }

/* BLOG SCSS */
.section-articulo-1 {
  width: 95%;
  margin: 100px auto;
  padding: 20px;
  background-color: #42142a1a;
  border-radius: 20px; }

.imagen-blog {
  border-radius: 20px;
  width: 100%; }

.h2-titulo-post-blog {
  margin: 50px;
  font-family: 'Bebas Neue', cursive;
  color: #ff2e5f;
  font-size: 50px; }

.parrafo-blog {
  text-align: justify; }

.h3-pide-cita {
  margin-top: 40px;
  font-family: 'Bebas Neue', cursive;
  font-size: 50px;
  color: #a3e636; }

.h3-pide-cita:hover {
  transform: scale(1.3); }

.boton-reservar {
  color: white;
  width: 140px;
  border-radius: 20px; }

.boton-reservar:hover {
  background-color: #a3e636;
  color: white; }

* {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', sans-serif;
  text-decoration: none;
  list-style: none;
  text-align: justify center; }

/* CONTACTO SCSS */
.formulario-contacto-fieldset {
  width: 60%;
  margin: 40px auto 100px;
  border: none;
  display: grid;
  grid-template-columns: 1fr 80px;
  grid-template-areas: "label-nombre label-nombre" "nombre nombre" "label-email label-email" "email email" "label-telefono label-telefono" "telefono telefono" "label-mensaje label-mensaje" "mensaje mensaje" "none enviar";
  gap: 10px; }

#nombre,
#email,
#telefono,
#mensaje {
  background-color: #ffffff;
  border-radius: 20px;
  border: none;
  height: 40px; }

#mensaje {
  grid-area: mensaje;
  height: 150px; }

label {
  text-align: left;
  padding-left: 10px; }

#enviar {
  grid-area: enviar;
  background-color: #ff2e5f;
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 20px; }

.label-nombre {
  grid-area: label-nombre; }

#nombre {
  grid-area: nombre; }

.label-email {
  grid-area: label-email; }

#email {
  grid-area: email; }

.label-telefono {
  grid-area: label-telefono; }

#telefono {
  grid-area: telefono; }

.label-mensaje {
  grid-area: label-mensaje; }

/* FOOTER PARA TODAS LAS PÁGINAS SCSS FOOTER*/
footer {
  width: 100%;
  margin-top: 100px; }

.footer-fondo {
  background-color: #140d1a; }

.h4-footer {
  margin-top: 20px;
  font-size: 20px; }

.img-redes {
  width: 30px;
  padding: 5px; }

.a-redes {
  color: white; }

.img-footer {
  width: 250px; }

.encabezado {
  padding-left: 0px; }

.nav-css {
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: #140d1a;
  box-shadow: 0px 0px 24px 1px #140d1a;
  z-index: 1000; }

/* DROPDOWN */
.bg-button-dark {
  background-color: #140d1a;
  box-shadow: 0px 0px 24px 1px #140d1a; }

.bg-button-verde {
  background-color: #a3e636;
  box-shadow: 0px 0px 24px 1px #140d1a;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; }

.pages,
.perfil-iniciar,
.perfil-registrarse {
  padding: 12px;
  color: white; }

.perfil-registrarse:link,
.pages:link {
  color: white; }

.perfil-registrarse:hover,
.pages:visited {
  color: white; }

.perfil-registrarse:hover,
.pages:hover {
  color: #a3e636; }

.perfil-registrarse:active,
.pages:active {
  color: #42142a; }

#color-verde:link {
  color: #a3e636; }

#color-verde:visited {
  color: #a3e636; }

#color-verde:hover {
  color: #f96036; }

#color-verde:active {
  color: #42142a; }

.perfil-iniciar {
  background-color: #ff2e5f;
  border-radius: 20px; }

.perfil-iniciar:hover {
  background-color: #ffd452;
  color: white; }

* {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', sans-serif;
  text-decoration: none;
  list-style: none;
  text-align: justify center; }

/* INDEX SCSS*/
body {
  background: linear-gradient(180deg, #4accf1 0%, #6cd4f2 100%); }

/* TITULO Y FOTO HOME */
.main-index {
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center; }

.titulo-index {
  font-family: 'Bebas Neue', cursive;
  font-size: 180px;
  margin-top: 150px;
  color: #a3e636; }

.foto-index {
  margin: 50px auto;
  width: 100%;
  height: 500px;
  border-radius: 20px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  animation: foto-index 15s infinite; }

@keyframes foto-index {
  0%, 30% {
    background-image: url(../assets/matcha-powder-g9162734ab_1920.jpg);
    opacity: 1; }
  31%, 34% {
    opacity: 0.1; }
  35%, 65% {
    background-image: url(../assets/massage-gf00a03ff0_1920.jpg);
    opacity: 1; }
  66%, 69% {
    opacity: 0.1; }
  70%, 100% {
    background-image: url(../assets/skincare-g3c5b072e6_1920.jpg);
    opacity: 1; } }

/*  TERAPIAS HOME SCSS */
.section-terapias {
  width: 95%;
  margin: auto; }

.h3-dia-horario,
.h3-donde,
.h3-que-llevar {
  font-family: 'Bebas Neue', cursive;
  font-size: 45px;
  margin-top: 30px; }

.h2-terapias {
  grid-area: h2-entrenamientos;
  font-family: 'Bebas Neue', cursive;
  font-size: 70px;
  color: #ffd452; }

.iframe-mapa {
  width: 100%; }

.info-dia-horario,
.info-que-es,
.iframe-mapa {
  margin-top: 30px;
  font-size: 20px;
  height: 350px;
  background-image: url("../assets/yoga-g0bd6d2e29_1920.jpg");
  background-size: 100%;
  background-attachment: fixed;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.li-dia-horario,
.p-dia-horario,
.p-que-somos {
  margin: 0 auto;
  width: 80%; }

/* SOBRE MI SCSS*/
.main-sobre-nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }

.parrafo-sobre-nosotros {
  margin-top: 20px;
  width: 90%;
  text-align: justify; }

/*  METODO SALUD NATURAL - SOBRE MI SCSS */
.h2-metodo {
  margin-top: 50px;
  font-family: 'Bebas Neue', cursive;
  color: #ffd452;
  font-size: 30px; }

.h3-metodo {
  margin: 20px auto;
  width: 90%;
  font-size: 15px; }

.metodo-1,
.metodo-2,
.metodo-3 {
  background-color: transparent;
  border-radius: 20px; }

.metodo-1:hover,
.metodo-2:hover,
.metodo-3:hover {
  background-color: #a3e636; }

.img-metodo {
  width: 100%;
  border-radius: 20px; }

.p-web-metodo {
  padding-bottom: 20px; }

/* TERAPIAS SCSS */
/* SECCION TERAPIAS */
.article-terapias {
  padding-top: 40px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #140d1a4f;
  border-radius: 20px; }

.titulo-terapias-descripcion {
  font-size: 50px;
  color: #ff2e5f;
  /* margin-top: 40px; */ }

.parrafo-terapias {
  width: 90%;
  text-align: justify;
  margin-bottom: 50px; }

@media screen and (max-width: 567px) {
  .titulo-index {
    font-size: 50px; }
  .h2-entrenamientos {
    width: auto;
    font-size: 50px; } }
