
/* FOOTER PARA TODAS LAS PÁGINAS SCSS FOOTER*/

footer {
    width: 100%;
    margin-top: 100px;
    .footer-fondo{
        background-color: $color-secundario;}
    .h4-footer {
        margin-top: 20px;
        font-size: 20px;}
    .img-redes {
        width: 30px;
        padding: 5px;}
    .a-redes {
        color: $color-texto;
        }    
    .img-footer {
    width: 250px;}
}
