
.encabezado{
    padding-left: 0px;
}

.nav-css {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: #140d1a;
    box-shadow: 0px 0px 24px 1px #140d1a;
    z-index: 1000;
}

/* DROPDOWN */
.bg-button-dark {
    background-color: #140d1a;
    box-shadow: 0px 0px 24px 1px #140d1a;
}

.bg-button-verde {
    background-color: #a3e636;
    box-shadow: 0px 0px 24px 1px #140d1a;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.pages,
.perfil-iniciar,
.perfil-registrarse {
    padding: 12px;
    color: white;
}

.perfil-registrarse:link,
.pages:link {
    color: white;
}

.perfil-registrarse:hover,
.pages:visited {
    color: white;
}

.perfil-registrarse:hover,
.pages:hover {
    color: #a3e636;
}

.perfil-registrarse:active,
.pages:active {
    color: #42142a;
}

#color-verde:link {
    color: #a3e636
}

#color-verde:visited {
    color: #a3e636
}

#color-verde:hover {
    color: #f96036
}

#color-verde:active {
    color: #42142a
}

.perfil-iniciar {
    background-color: #ff2e5f;
    border-radius: 20px;
}

.perfil-iniciar:hover {
    background-color: #ffd452;
    color: white;
}
