/* TERAPIAS SCSS */

/* SECCION TERAPIAS */

.article-terapias {
    padding-top: 40px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: $color-secundario;
    border-radius: 20px;
    .titulo-terapias-descripcion {
        font-size: 50px;
        color: $color-terciario;
    }
    
    .parrafo-terapias {
        width: 90%;
        text-align: justify;
        margin-bottom: 50px;
    }
}




