/* TITULOS TODAS LAS PAGINAS SCSS*/

.titulo-contacto,
.titulo-sobre-nosotros,
.titulo-blog,
.titulo-terapias {
    font-family: $font2;
    font-size: 70px;
    padding-top: 150px;
    color: $color-principal;
    text-align: center;
}